name: flutter_media_session
description: "Flutter Media Session"
version: 0.0.1
homepage: https://github.com/renanyoy/flutter_media_session
issue_tracker: https://github.com/renanyoy/flutter_media_session/issues

environment:
  sdk: ">=3.10.0 <4.0.0"
  flutter: '>=3.3.0'

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  plugin:
    platforms:
      android:
        package: org.aestesis.flutter_media_session
        pluginClass: FlutterMediaSessionPlugin
      ios:
        pluginClass: FlutterMediaSessionPlugin

